@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #7bb0ff;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #7bb0ff 11px ), repeating-linear-gradient( #c8dffb55, #c8dffb );
}

.cuerpo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

#encabezado {
    position: relative;
    width: 100%;
    /*background-color: #4983C3;*/
}

#encabezado .img-deco {
    position: absolute;
    left: 120px;
    bottom: -50px;
    background: rgba(164, 193, 225, 0.8);
}

#encabezado .img-deco-2 {
    background: rgba(255, 255, 255, 0.8);
}

#encabezado .img-deco,
#encabezado .img-deco-2 {
    padding: 6px;
    border-radius: 50%;
}

#encabezado .img {
    width: 120px;
    height: 120px;
    background: #a4c1e1;
    border-radius: 50%;
    overflow: hidden;
}

#encabezado .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#encabezado .contenedor-texto {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 90px 40px 5px 280px;
}

#encabezado .contenedor-texto .contenedor-texto-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#encabezado .contenedor-texto .contenedor-texto-2 .nombre {
    flex: 1 1 0%;
    font-weight: bold;
    font-size: 3rem;
    color: #ffffff;
}

#encabezado .contenedor-texto .contenedor-texto-2 .contacto {
    display: flex;
    gap: 20px;
}

#encabezado .contenedor-texto .contenedor-texto-2 .contacto .phone {
    display: flex;
    gap: 6px;
    font-weight: 300;
    color: #ffffff;
}

#encabezado .contenedor-texto .contenedor-texto-2 .contacto .phone:hover {
    transform: scale3d(1.08,1.08,1.08);
}

#encabezado .contenedor-texto .contenedor-texto-2 .contacto .email {
    display: flex;
    gap: 6px;
    font-weight: 300;
    color: #ffffff;
}

#encabezado .contenedor-texto .contenedor-texto-2 .contacto .email:hover {
    transform: scale3d(1.08,1.08,1.08);
}

#contenido {
    flex: 1 1 0%;
    background: #f6f6f6;
    display: flex;
    padding: 90px 40px;
}

#contenido .experiencia-laboral .experiencia {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline black;
}

#contenido .experiencia-laboral .trabajos .trabajo {
    padding-top: 1%;
    font-weight: bold;
}

#contenido .experiencia-laboral .trabajos .trabajo:hover {
    transform: scale3d(1.05,1.05,1.05);
}

#contenido .columna-2 {
    padding-left: 1%;
}

#contenido .columna-2 .formacion .formaciones {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline black;
}

#contenido .columna-2 .formacion .cursos .curso {
    padding-top: 3%;
    font-weight: bold;
}

#contenido .columna-2 .formacion .cursos .curso:hover {
    transform: scale3d(1.05,1.05,1.05);
}

#contenido .columna-2 .mas-informacion {
    padding-top: 3%;
}

#contenido .columna-2 .mas-informacion .info-extra {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline black;
}

#contenido .columna-2 .mas-informacion .info {
    padding-top: 3%;
    font-weight: bold;
}

#contenido .columna-2 .mas-informacion .info .extra {
    padding-top: 2%;
}

#contenido .columna-2 .mas-informacion .info .extra:hover {
    transform: scale3d(1.05,1.05,1.05);
}